[Unit]
Description=My Free Server app Bot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/telegrambot/free-server/app.py
Restart=always
RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target
