[Unit]
Description=My Google Drive Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/m3hdiclub/telegrambot/gd.py
Restart=always
RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target
