[Unit]
Description=My Server Detail Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/server-detail.py
Restart=always
RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target
